@model GlobalDateTimeLab.WebApp.Models.CultureModel
@{
    ViewBag.Title = "Culture";
}

<h2>Cookie-TimezoneHour:@Model.TimezoneHour</h2>
<h4>@Model.CurrentCultureDateTime</h4>



@using (@Html.BeginForm())
{
    <div class="form-inline">
        @Html.DropDownListFor(model => model.TimezoneHour,
                     new SelectList(new List<SelectListItem>
    {
      new SelectListItem { Text = "UTC" , Value = "0"},
      new SelectListItem { Text = "South Africa", Value = "2" },
      new SelectListItem { Text = "Dubai", Value = "4" },
      new SelectListItem { Text = "Taiwan", Value = "8" }
    },
    "Value", "Text",
    @Model.TimezoneHour), // value that should be set selected of dropdown
     new { @class = "form-control" })
        <button type="submit" class="btn btn-default">Change</button>
    </div>

}
<hr />
<h2>UserData-PricipleTimezoneHour:@Model.UserDataTimezoneHour</h2>
<h4>@Model.PricipleDateTime</h4>
@using (@Html.BeginForm("Login", "Home", FormMethod.Get))
{
    <div class="form-inline">
        @Html.TextBoxFor(m => m.UserNo, new { @class = "form-control" })
        @Html.DropDownListFor(model => model.UserDataTimezoneHour,
                     new SelectList(new List<SelectListItem>
    {
      new SelectListItem { Text = "UTC" , Value = "0"},
      new SelectListItem { Text = "South Africa", Value = "2" },
      new SelectListItem { Text = "Dubai", Value = "4" },
      new SelectListItem { Text = "Taiwan", Value = "8" }
    },
    "Value", "Text",
    @Model.UserDataTimezoneHour), // value that should be set selected of dropdown
     new { @class = "form-control" })
        <button type="submit" class="btn btn-default">Change</button>
    </div>

}
@*<ul>
        @foreach (var m in Model.Messages)
        {
            <li>@m</li>
        }
    </ul>*@
